---
import Layout from "../layouts/common.astro"
---

<Layout title="Blog">

	<div class="-mt-16 max-w-3xl mx-auto">

		<div class="mb-10 p-8 bg-blue-50 border border-blue-200 rounded-2xl shadow-sm flex flex-col transition duration-500 hover:translate-y-1">
			<p class="mb-6 text-gray-400 uppercase small text-sm">Feb 10 2022</p>
			<h3 class="text-3xl font-semibold text-gray-900">February big update</h3>
			<p class="mt-6 text-gray-500">Today we introduced a new big update ....</p>
		</div>

		<div class="mb-10 p-8 bg-blue-50 border border-blue-200 rounded-2xl shadow-sm flex flex-col transition duration-500 hover:translate-y-1">
			<p class="mb-6 text-gray-400 uppercase small text-sm">Jan 06 2022</p>
			<h3 class="text-3xl font-semibold text-gray-900">Some news</h3>
			<p class="mt-6 text-gray-500">Today we introduced a new update ....</p>
		</div>

	</div>

</Layout>