---
const { title } = Astro.props

const url = new URL(Astro.request.url).pathname

console.log(url)
---

<html lang="en">

	<head>
		<meta charset="utf-8"/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
		<title>{title}</title>
		<link rel="icon" type="image/x-icon" href="/favicon.ico"/>
	</head>

	<body class="font-sans bg-gradient-to-b from-blue-500 flex min-h-screen">

		<div class="text-center m-auto leading-10">

			<nav class="space-x-10 sm:space-x-16 md:space-x-24 pb-16 pt-16 font-medium text-xl">
				<a href="/" class={url === "/" ? "font-bold relative group" : "font-medium relative group"}>
					<span class="absolute -bottom-1 left-1/2 w-0 h-0.5 bg-gray-900 group-hover:w-1/2 group-hover:transition-all"></span>
					Home
					<span class="absolute -bottom-1 right-1/2 w-0 h-0.5 bg-gray-900 group-hover:w-1/2 group-hover:transition-all"></span>
				</a>
				<a href="/pricing" class={url === "/pricing" ? "font-bold relative group" : "font-medium relative group"}>
					<span class="absolute -bottom-1 left-1/2 w-0 h-0.5 bg-gray-900 group-hover:w-1/2 group-hover:transition-all"></span>
					Pricing
					<span class="absolute -bottom-1 right-1/2 w-0 h-0.5 bg-gray-900 group-hover:w-1/2 group-hover:transition-all"></span>
				</a>
				<a href="/blog" class={url === "/blog" ? "font-bold relative group" : "font-medium relative group"}>
					<span class="absolute -bottom-1 left-1/2 w-0 h-0.5 bg-gray-900 group-hover:w-1/2 group-hover:transition-all"></span>
					Blog
					<span class="absolute -bottom-1 right-1/2 w-0 h-0.5 bg-gray-900 group-hover:w-1/2 group-hover:transition-all"></span>
				</a>
				<a href="/login" class={url === "/login" ? "font-bold relative group" : "font-medium relative group"}>
					<span class="absolute -bottom-1 left-1/2 w-0 h-0.5 bg-gray-900 group-hover:w-1/2 group-hover:transition-all"></span>
					Login
					<span class="absolute -bottom-1 right-1/2 w-0 h-0.5 bg-gray-900 group-hover:w-1/2 group-hover:transition-all"></span>
				</a>
				<a href="/signup" class="text-white bg-blue-500 hover:bg-blue-600 active:bg-blue-700 focus:outline-none focus:ring focus:ring-blue-300 px-3 py-1 rounded-md">Sign up</a>
			</nav>

			<h1 class="text-4xl sm:text-5xl font-extrabold md:text-6xl italic pb-16">{title}</h1>

			<div class="pt-16 max-w-3xl mx-auto">
				<slot />
			</div>

			<footer class="border-t-2 border-gray-400 opacity-70 mt-16 pt-6 w-screen">
				<nav class="text-center space-x-24 font-medium text-lg">
					<a href="/" class="hover:opacity-70">Home</a>
					<a href="/pricing" class="hover:opacity-70">Pricing</a>
					<a href="/blog" class="hover:opacity-70">Blog</a>
				</nav>
				<p class="text-center text-gray-400 text-sm pb-6 pt-6">&copy; 2022 BY E-D-I. ALL RIGHTS RESERVED.</p>
			</footer>

		</div>

	</body>

</html>